TestUnityProject/Library
TestUnityProject/Temp
TestUnityProject/Logs
TestUnityProject/obj
TestUnityProject/*.sln
TestUnityProject/*.csproj
TestUnityProject/.idea
TestUnityProject/Assets/Plugins
TestUnityProject/Assets/Plugins.meta
